@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #16325B;
  --secondary: #FFDC7F;
  --accent1: #78B7D0;
  --accent2: #227B94;
  --highlighters-green: #5CB338;
  --highlighters-yellow: #ECE852;
  --highlighters-red: #FB4141;
  --highlighters-orange: #FFC145;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #FFDC7F;
    --seconday: #16325B;
    --accent1: #227B94;
    --accent2: #78B7D0;
  }
}

body {
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: 'Shrikhand', cursive;
}

.text-outline {
  -webkit-text-stroke: var(--accent1);
  -webkit-text-stroke-width: 2px;
}
