@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #16325B;
  --secondary: #FFDC7F;
  --accent1: #78B7D0;
  --accent2: #227B94;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #FFDC7F;
    --seconday: #16325B;
    --accent1: #227B94;
      --accent2: #78B7D0;
  }
}

body {
  color: var(--secondary);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/bg-texture-1.jpg');
  background-blend-mode: overlay;
  background-size: cover;
}

h1, h2, h3 {
  font-family: 'Shrikhand', cursive;
}

.text-outline {
  -webkit-text-stroke: var(--accent1);
  -webkit-text-stroke-width: 2px;
}
